{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Accounts" %}{% endblock %}
{% block content %}
<h1>{% translate "Accounts" %}</h1>

{% if accounts %}
  <ul>
    {% for account in accounts %}
      <li>{{ account.name }} ({{ account.currency }})</li>
    {% endfor %}
  </ul>
{% else %}
  <p>{% translate "No accounts found." %}</p>
{% endif %}

{% if perms.onikisepet.add_account %}
  <p><a href="{% url 'account_create' %}">{% translate "Add account" %}</a></p>
{% endif %}
{% endblock %}
