{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Categories" %}{% endblock %}
{% block content %}
<h1>{% translate "Categories" %}</h1>

{% if categories %}
  <ul>
    {% for category in categories %}
      <li>{{ category.name }} &mdash; {{ category.get_category_type_display }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>{% translate "No categories found." %}</p>
{% endif %}

{% if perms.onikisepet.add_category %}
  <p><a href="{% url 'category_create' %}">{% translate "Add category" %}</a></p>
{% endif %}
{% endblock %}
