{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Exchange Rates" %}{% endblock %}
{% block content %}
<h1>{% translate "Exchange Rates" %}</h1>

<p>{% blocktranslate %}Rates convert one unit of a foreign currency into {{ base_currency }}.{% endblocktranslate %}</p>

{% if exchange_rates %}
  <ul>
    {% for rate in exchange_rates %}
      <li>
        {{ rate.effective_date }}: 1 {{ rate.currency }}
        = {{ rate.rate_to_base|floatformat:2 }} {{ base_currency }}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>{% translate "No exchange rates recorded yet." %}</p>
{% endif %}

{% if perms.onikisepet.add_exchangerate %}
  <p><a href="{% url 'exchange_rate_create' %}">{% translate "Add exchange rate" %}</a></p>
{% endif %}
{% endblock %}
