{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Reset password" %}{% endblock %}
{% block content %}
<h1>{% translate "Reset password" %}</h1>

<p>{% translate "Enter the email address on your account and we will send you a link to set a new password." %}</p>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">{% translate "Send reset link" %}</button>
</form>

<p><a href="{% url 'login' %}">{% translate "Back to sign in" %}</a></p>
{% endblock %}
