{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "New password" %}{% endblock %}
{% block content %}
<h1>{% translate "New password" %}</h1>

{% if validlink %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% translate "Set new password" %}</button>
  </form>
{% else %}
  <p>{% translate "This reset link is no longer valid. It may already have been used. Please request a new one." %}</p>
  <p><a href="{% url 'password_reset' %}">{% translate "Reset password" %}</a></p>
{% endif %}
{% endblock %}
